<html>
  <head>
    <title>Olteanclan</title>
<!-- Realizat de persoana de contact -->
  </head>
  <body>
<h2 align="middle">Aici puteti vedea distributia cantitatii de gaze in aerul respirat, pe o perioada de 24 de ore.</h2>
    <div style="width:800px; margin:0 auto;"><img src= "/static/map.png" alt="Image Placeholder" align="middle"></div>
<p align="middle">Datele sunt parsate din fisiere .xml folosind python. Prin request-uri realizate prin intermediul URL-ului pot fi accesate diferite gaze din mediu inconjurator. La momentul de fata au fost implementate doar dioxidul de carbon, dioxidul de sulf si monoxidul de azot. Graphul este realizat folosing biblioteca matplotlib si pagina de HTML este importata static.</p>
<h5 align="middle">Copyright: Alexandru Meterez, Vlad Jorascu, Sergiu Munteanu, Tiberiu Lepadatu</h5>
<h5 align="middle">Contact: alexandrumeterez@gmail.com</h5>
  </body>
</html>
